{% extends 'base.html.twig' %}

{% block title %}
  À propos
{% endblock %}

{% block body %}
  <h1>À propos</h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque reiciendis perspiciatis aspernatur eos tempore quod adipisci maxime inventore nisi consectetur voluptatum architecto, earum vel mollitia vero cumque ipsam animi excepturi?</p>
  <p>Numquam velit, ad asperiores eveniet tempora, hic similique minus et fugiat cumque eos sunt, officia harum voluptatem totam enim temporibus eius atque obcaecati porro rem iste voluptas impedit? Quibusdam, aliquid.</p>
  <p>Rerum ab sint, nobis delectus nemo esse vel distinctio consectetur nostrum, officia, accusamus soluta et. Accusantium reiciendis voluptate, iusto ipsum, laboriosam ratione temporibus voluptates dolores inventore praesentium deleniti quos maiores?</p>
  <p>Voluptatibus magnam nihil at sequi a quaerat. Est praesentium corporis voluptatem culpa dolores a, maiores, necessitatibus magnam cumque nihil aperiam aspernatur quisquam architecto libero odit, odio dicta rem ut voluptate.</p>
  <p>Amet reiciendis iure quam eveniet porro vero magni ipsam ipsum, libero sapiente. Minus earum ullam tempore, omnis, ratione illo fuga dolore ab quaerat porro reiciendis aperiam quo perferendis expedita officiis!</p>
  <p>Eos qui aliquam fugiat, inventore fugit quam illum magnam deleniti, quaerat officiis commodi culpa ex architecto, consequatur odit. Voluptatibus consectetur vel, quaerat eaque iste labore aspernatur magni commodi? Aut, earum?</p>
{% endblock %}
